<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:object="${user}" method="post" action="/add">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>